body {
    background-color: #202124;
}

/* Advanced Page */
#img {
    height: 24px;
    width: 74px;
}
header {
    margin: 20px 10px 0 10px;
}
.header-link {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
.advanced-div {
    color: #f28b82;
    font-size: 20px;
    margin: 25px 35px;
}

#hr {
    border-bottom: 1px solid #ebebeb;
    border-color: #3c4043
}

.form-div {
    width: 800px;
    margin: 40px 2% 0 45px;
}
.div-span {
    font-size: 19px;
    color: #e8eaed;
}
.div-T-I > div {
    display: inline-block;
}
.div-advanced-text {
    width: 21%;
}
.div-advanced-input {
    width: 60%;
}
.advanced-input {
    width: 75%;
    height: 25px;
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
    font-size: 13px;
    padding: 1px 8px;
    border-radius: 1px;
    margin: 5px;
}
.advanced-text {
    text-align: left;
    color: #bdc1c6;
    font-size: 16px;
}
.div-advanced-submit {
    width: 68%;
    margin: 9px;
}
.advanced-submit {
    background: #8ab4f8;
    border: none;
    border-radius: 2px;
    color: #202124;
    float: right;
    height: 30px;
    padding: 0 12px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
.advanced-submit:hover {
    background-color: #AECBFA;
}

/* Google and Images Page */
/* Div Links */
.links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul > li > a {
    margin: 5px 10px 0 0;
    padding: 5px;
    text-decoration: none;
    color: white;
    font: 13px/27px Roboto,Arial,sans-serif
}
ul > li > a:hover {
    text-decoration: underline;
}
li:nth-child(2){
    margin-right: 20px;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    
}

/*  Search input */
#inputWrapper > span {
    align-self: center;
    margin: 0 auto;
    padding-left: 5px;
    color: rgb(118, 118, 118);
}
#camera {
    height: 24px;
    width: 24px;
    align-self: center;
    margin: 0 auto;
    padding-right: 5px;
}
#mic {
    height: 24px;
    width: 24px;
    align-self: center;
    margin: 0 auto 0 auto;
}
#inputWrapper {
    display: flex;
    height: 44px;
    z-index: 3;
    border: 1px solid rgb(118, 118, 118);
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 584px;
    margin-top: 30px;
}
#inputWrapper:hover {
    background-color: #303134;
    border: none;
}
#input:hover {
    background-color: #303134;
}
#input {
    color: white;
    background-color: #202124;
    width: 460px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
#input:active {
    border: none;
    outline: none;
}
#input:focus {
    color: white;
}

/* Submit div and button */
.submit-div {
    margin: 0 auto 0 auto;
    text-align: center;
    width: 584px;
}
.submit {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.submit:hover {
    border: .2px solid rgb(118, 118, 118);
}